@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

:root {
  --clr-brightgreen: #49c082;
  --clr-lightgreen: #cceddc;
  --clr-red: #f26a6e;
  --clr-grey: #c5c5c5;
  --clr-fontColor: #3e3939;
  --clr-orange: #f77f22;
  --clr-lightOrange: #ffe3cc;
  --clr-darkCream: #c4ba54;
  --clr-lightCream: #edeacc;
  --transition: all 1s linear;
  --light-shadow: 0 5px 15px rgba(4, 248, 37, 0.1);
  --dark-shadow: 0 5px 15px rgba(4, 248, 37, 0.2);
  --min-width: 360px;
  --mid-point: 768px;
  --max-width: 1024px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
}
.green {
  color: var(--clr-brightgreen);
}
.orange {
  color: var(--clr-orange);
}
.red {
  color: var(--clr-red);
}
.cream {
  color: var(--clr-darkCream);
}
.bg-green {
  background-color: var(--clr-lightgreen);
}

.bg-orange {
  background-color: var(--clr-lightOrange);
}
.bg-cream {
  background-color: var(--clr-lightCream);
}
header {
  position: fixed;
  margin: 0 0.8rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
header .input-container {
  min-width: var(--min-width);
  height: 3.2em;
  position: absolute;
  background-color: #f3e7e7;
  border-radius: 25px;
  display: flex;
  box-shadow: var(--light-shadow);
}

header .search {
  border-radius: 25px;
  width: 100%;
  outline: none;
  text-decoration: none;
  border: none;
  padding-left: 1rem;
}
.select {
  border-radius: 2rem;
  background-color: var(--clr-lightgreen);
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0.4rem;
  right: 0.3rem;
}

.select select {
  outline: none;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: var(--clr-brightgreen);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}
.hero-image {
  width: 7.5rem;
  height: auto;
}
.main p {
  color: var(--clr-brightgreen);
  font-size: 0.9rem;
}
.main .filter {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
}
.main .sort {
  border-radius: 2rem;
  background-color: transparent;
  padding: 0.2rem 0.5rem;
  border: 0.5px solid var(--clr-grey);
}
.main .sort select {
  outline: none;
  text-decoration: none;
  background-color: transparent;
  color: var(--clr-grey);
  border: none;
  font-size: 0.8rem;
  font-weight: 400;
}
.list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  z-index: -1000;
  overflow: hidden;
  overflow-y: hidden;
}
.list {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-shadow: var(--light-shadow);
  border-radius: 2rem;
  padding: 0.5rem;
  margin-top: 0.8rem;
}
.list img {
  width: 65px;
  display: block;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
}
.center ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.center ul li {
  list-style-type: none;
}
.second-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: var(--dark-shadow);
  border-radius: 25px;
  padding-bottom: 1rem;
  padding-right: 3rem;
}
.image-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.active {
  display: none;
  box-shadow: 0 5px 19px 2px var(--light-shadow);
  border-radius: 2rem 2rem 0 0;
  transition: var(--transition);
}
.center .heading {
  margin: 0;
  font-size: 1.1rem;
}
.center .para {
  margin: 0;
  padding: 0;
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
  color: var(--clr-grey);
}
a {
  font-size: 0.6rem;
  text-decoration: none;
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  margin-right: 1.2rem;
  margin-left: 0.8rem;
}

.second-list p {
  margin-left: 1.8rem;
  font-size: 0.8rem;
  color: var(--clr-grey);
  margin-top: 0.6rem;
  border-bottom: 1px solid var(--clr-grey);
  padding-bottom: 0.5rem;
}
.like-button {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 4rem;
  color: var(--clr-grey);
}

.like-button p {
  margin: 0;
  padding: 0.6rem 0.8rem;
  background-color: var(--clr-lightgreen);
  border-radius: 50%;
}
footer {
  z-index: 1000;
  position: fixed;
  top: 660px;
  left: 10px;
  scroll-behavior: none;
  overflow-y: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-width: var(--min-width);
  height: 4em;
  border-radius: 35px;
  display: flex;
  box-shadow: var(--dark-shadow);
  color: var(--clr-grey);
  background-color: white;
}
footer p {
  margin-top: 1rem;
  display: grid;
  place-items: center;
  background-color: var(--clr-lightgreen);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* for desktop mode */
@media (min-width: 991px) {
  header .input-container {
    height: 2.5em;
    position: absolute;
    background-color: #3e3939;
    top: 1.5rem;
    right: 3rem;
  }

  .select {
    border-radius: 2rem;
    background-color: var(--clr-lightgreen);
    padding: 0.35rem 0.7rem;
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
  }
}
