@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

:root {
  --clr-brightgreen: #49c082;
  --clr-lightgreen: #cceddc;
  --clr-red: #f26a6e;
  --clr-grey: #c5c5c5;
  --clr-fontColor: #3e3939;
  --clr-orange: #f77f22;
  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --min-width: 360px;
  --mid-point: 768px;
  --max-width: 1024px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
}
.green {
  color: var(--clr-brightgreen);
}
.orange {
  color: var(--clr-orange);
}
header {
  margin: 0 0.8rem;
  margin-top: 1.2rem;
}
header .input-container {
  min-width: var(--min-width);
  height: 3.2em;
  position: absolute;
  background-color: #f3e7e7;
  border-radius: 25px;
  display: flex;
  box-shadow: var(--light-shadow);
}

header .search {
  border-radius: 25px;
  width: 100%;
  outline: none;
  text-decoration: none;
  border: none;
  padding-left: 1rem;
}
.select {
  border-radius: 2rem;
  background-color: var(--clr-lightgreen);
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0.4rem;
  right: 0.3rem;
}

.select select {
  outline: none;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: var(--clr-brightgreen);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
.hero-image {
  width: 7.5rem;
  height: auto;
}
.main p {
  color: var(--clr-brightgreen);
  font-size: 0.9rem;
}
.main .filter {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
}
.main .sort {
  border-radius: 2rem;
  background-color: transparent;
  padding: 0.2rem 0.5rem;
  border: 0.5px solid var(--clr-grey);
}
.main .sort select {
  outline: none;
  text-decoration: none;
  background-color: transparent;
  color: var(--clr-grey);
  border: none;
  font-size: 0.8rem;
  font-weight: 400;
}
.list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.list {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  box-shadow: var(--light-shadow);
  border-radius: 2rem;
  padding: 0.5rem;
  margin-top: 0.8rem;
}
.list img {
  border-radius: 50%;
  width: 4rem;
}

/* for desktop mode */
@media (min-width: 991px) {
  header .input-container {
    height: 2.5em;
    position: absolute;
    background-color: #3e3939;
    top: 1rem;
    right: 3rem;
  }
}
